body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
}

h1 {
  box-sizing: border-box;
  background-color:rgb(136, 192, 7);
  font-size: 5em;
  text-align: center;
}

main {
  max-width: 750px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#invalid {
  color: red;
}

#heading {
  display: flex;
  flex-direction: row;
}

#welcome {
  flex-grow: 1;
}

#logout {
  align-self:center
}